.blaze-page {
    background: #f2f2f2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #d9e4f5, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #d9e4f5, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  
  .SignUpForm {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  .blaze-icon {
      display: block;
      margin: 0 auto; /* Center the icon horizontally */
      width: 100px; /* Adjust size as needed */
      height: 100px; /* Adjust size as needed */
      border-radius: 50%; /* Makes the image circular */
      object-fit: cover; /* Ensures the image covers the area without stretching */
      margin-bottom: 1em; /* Space between the icon and the heading */
    }
  
  .register{
    max-width: 978px;
    width: 100vw;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: white;
  }
  
  .register span{
    color: #adb5bd;
  }
  
  #form{
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
  }
  
  #form.transform-up {
      transform: translateY(-20px); /* Shift the form up a little */
      opacity: 0; /* Make the form transparent */
    }
  
  .register span {
    transition: background-color 0.3s, color 0.3s;
  }
  
  #form >  input {
    border: 1px solid #e9ecef;
    padding: .9em 1em;
    transition: transform 0.3s ease-in-out;
  }
  
  #form > input:focus{
    outline: none;
  }
  
  
  .flex{
    display: flex;
    gap: 1em;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .register .col-1{
    margin: auto;
    padding: 3em 0;
  }
  
  .register .col-2 img{
    width: 480px;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
  }
  
  @media screen and (min-width: 860px)  {
    .register .col-2 img{
      display: initial;
    }
  }