.account-page {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow-x: auto; /* Allows horizontal scrolling for the table */
}

.account-header {
  text-align: center;
  margin-bottom: 20px;
}

.state-selection-container {
  margin-bottom: 20px;
}

.state-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 150px; /* Allows for more options to be visible at once */
}

.state-list {
  list-style-type: none;
  padding: 0;
}

.state-list li {
  padding: 5px 0;
}

.btn-save {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Wrap table in a div with class .table-responsive */
.table-responsive {
  overflow-x: auto; /* Scroll horizontally if the table overflows */
  display: flex;
  width: 100%;
  justify-content: center
}

table {
  width: 600px; /* Or any width that suits your design */
  border-collapse: collapse;
  margin-top: 20px; /* Added space above the table for clarity */
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}
